@model List<Vehicle>
@{
    ViewData["Title"] = "Vehicles";
}

    <h1 id="custname" class="display-5 text-center"> </h1>
    <div class="justify-content-lg-start">
        <h2>@ViewData["bola"]</h2>
        <a href="/Vehicle/AssignVehicleView/@ViewData["id"]" class="btn btn-primary" id="btnCreateVehicle">Assign a vehicle</a>
    </div>

    <br />

     <table class="table">
        <thead>
            <tr>
                <th scope="col">Vehicle ID</th>
                <th scope="col">Brand</th>
                <th scope="col">Color</th>
                <th scope="col">Model</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Vehicle vehicle in Model)
            {
                <tr>
                    <td>@vehicle.vehicleId</td>
                    <td>@vehicle.brand</td>
                    <td>@vehicle.color</td>
                    <td>@vehicle.model</td>
                    <td>@vehicle.VehicleType</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" asp-controller="Vehicle" asp-action="VehicleDetailsView" asp-route-id="@vehicle.vehicleId" class="btn btn-primary">View Details</a>
                            <button type="button" class="btn btn-danger" onclick="deleteItem(@vehicle.vehicleId)">Delete</button>
                        </div>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<a class="btn btn-secondary" asp-controller="Customer" asp-action="Index">Cancelar</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        //Get Customer Name from URL and set it on H1 tag
        let url_array = document.URL.split('/');
        var custname = url_array[url_array.length - 1];
        document.getElementById('custname').append(custname +'\'s vehicles');

        //$('#btnCreateVehicle').on('click', function () {
        //    var id = url_array[url_array.length - 2];
            
        //    $.ajax(
        //        {
        //            type: 'GET',
        //            url: '/Vehicle/AssignVehicleView/' + id
        //        });
        //})

        $('.btn-deletar').on('click', function () {
            if (confirm('Do you really want to delete it?')) {
                $.ajax(
                    {
                        type: 'DELETE',
                        url: '/Vehicle/Delete?id=' + $(this).attr('customer_attr')
                    });
            };
        })


    });

</script>
